{% extends 'base.html' %}

{% block container %}
<main id="categoryPage">
    <section id="menu">
        <!-- This for loop assumes that you are passing a list of category rows, retrieved from the database -->
        {% for category in categories %}
            <!-- Insert an if statement to check if the selectedCategory parameter is the same as the categoryId> -->
            {% if category[0]|int() == selectedCategory|int() %}
                <!-- If so, use the selectedCategory class to style the category
                     This should be a p element with the category name -->
                <p class="selectedCategory">{{ category[1] }}</p>
            {% else %}
                <!-- Otherwise, use the notSelectedCategory class to style the category -->
                <!-- This should be a p element containing a link to the category page, containing the corresponding category -->
                <p class="notSelectedCategory"><a href="category?category={{ category[0] }}">{{ category[1] }}</a></p>
            {% endif %}
        {% endfor %}
    </section>
    <section id="catRight">
        <!-- This for loop assumes that you are passing a list of book rows, retrieved from the database -->
        {% for book in books %}
                <div class='book'>
                    <!-- Insert the book image stored in the static folder and the book as the alt text -->
                    <div><img class="cover" src="static/images/books/{{ book[4] }}.jpg" alt="{{ book[1] }}"></div>
                    <div class='bookDetailBox'>
                        <!-- Insert the corresponding field into each of the following rows -->
                        <p class='bookTitle'>{{ book[1] }}</p>
                        <p class='bookDetail'>by {{ book[2] }}</p>
<!--                        <p class='bookDetail'>ISBN: </p>-->
                        <p class='bookPrice'>${{ book[3] }}</p>
                            <a class='actionButton' href='#'>Add to cart</a>
                        <!-- Insert the if statement such that if the ReadNow flag is set include the Read Now button-->
                            {% if book[5] == 1%}
                                <a class='actionButton' href='#'>Read Now</a>
                            {% endif %}
                    </div>
                </div>
            {% endfor %}

    </section>
</main>
{% endblock %}

